.planet-card {
  width: 300px;
  height: 250px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.planet-card-content {
  height: 100%;
  overflow-y: auto;
}
.planet-card.show {
  opacity: 1;
}
